@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron jumbotron-fluid " >
    <div class="container">
        <h1 class="display-4">One Stop Rentals</h1>
        <p class="lead">A property management software company</p>
    </div>
</div>

<hr/>




<div class="row">
    <div class="col-md-4">
        <h2>Maintenance</h2>
        <p>Service requests, work orders and vendor management tools that keep you updated</p>
        <p><a class="btn btn-success" href="https://www.pilera.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Help Desk</h2>
        <p>Community specific support and customer relationship software</p>
        <p><a class="btn btn-primary" href="https://www.pilera.com/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Resident Portal</h2>
        <p>A complete resident experience: balance, ledger, online payments, community documents, and more</p>
        <p><a class="btn btn-success" href="https://www.pilera.com/">Learn more &raquo;</a></p>
    </div>
</div>
<div class="row"
    <div class="col-md-4">
        <div id="form" class="container">
            <h2>Contact</h2>
            <form action="https://formspree.io/xzbvaqba" method="Post">
                <div class="row">
                    <input type="text" class="form-control" id="name" placeholder="*Name">
                </div>
                <div class="row">
                    <input type="email" class="form-control" id="email" placeholder="*Email">
                </div>
                <div class="row">
                    <textarea name="message" id="" rows="5" placeholder="*Please enter your message..."
                              required></textarea>
                    <button type="submit">Send</button>
                </div>
            </form>
        </div>
    </div>

</div>


<style>

    .jumbotron h1{
        color:black;
        
    }

    .jumbotron{
    background-color:transparent;
   
    }

    textarea {
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%
}
    input {
    padding: 5px;
    margin-bottom: 20px;
    margin-right: 20px;
    border: 0;
    border-bottom: 1px solid black;
    width: 100%;
}

    button {
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid black;
    transition: .3s;
}
</style>

